@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    font-family: "Montserrat",
    sans-serif;

}

:root{
    --primary-color: #9575cd;
}

/** container **/

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/** links **/

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.primary-link{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.secondary-link{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);

}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.navigation .link{
    color: white;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link-active {
    font-weight: bold;
}

.hero {
    padding: 2rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin:auto;
}

.hero .hero-heading {
    color: grey;
    text-align: center;
    padding-top:1rem;
}

.section h3 {
    text-align: center;
}


.section-2 h1 {
    text-align: center;
}


.section-2 {
    background-color: grey;
    padding: 1rem;
}

.footer {
    padding: 2rem 1rem;
    background-color: var(--primary-color);
    text-align: center;
    color: white;
}

.footer .link{
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
}