@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    font-family: "Montserrat",
    sans-serif;
    margin: 0px;

}

:root{
    --primary-color: #9575cd;
    --secondary-color: #ddd6fe;
}

/** container **/

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;

}

.container-center {
    max-width: 600px;
    margin: auto;
    margin-bottom: 1rem;
}

/** links **/

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.primary-link{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.secondary-link{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);

}


.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
}

.navigation {
    
    color: black;
    padding: .5rem;
    text-align: center;
    
}

.navigation .link{
    color: black;
}

.navigation .nav-pills {
    text-align: center;
    padding-inline-start: 0px;
    

}

.navigation .link-active {
    font-weight: bold;
}

.hero {
    padding: 2rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin:auto;
}

.hero .hero-heading {
    color: grey;
    text-align: center;
    padding-top:1rem;
}

.section h3 {
    text-align: center;
}


.section-2 h1 {
    text-align: center;
}

.section {
    text-align: center;
    padding: 1rem 0rem;
}
.section-2 {
    background-color:var(--secondary-color);
    padding: 1rem;
    text-align: center;
}

.footer {
    padding: 2rem 1rem;
    background-color: var(--primary-color);
    text-align: center;
    color: white;
}

.footer .link{
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
}

.content{
    
    padding-bottom: 10rem;
    border: solid black;
    border-radius: 1rem;
}

.sh-raza{
    margin-top: 1rem;
}

.image-wave{
    padding-top: 1rem;
    height: 300px;

}

.image-plato{
  
    padding-top: 1rem;
}

li{
    list-style-type: none;
}

#build{
    text-align: center;
    color: var(--primary-color);
}

.project-heading{
    color: #12005e
}

